@import "../theme/rose-pine.css";

* {
    all: unset;
    color: @text;
}

#waybar {
    background: transparent;
}

tooltip {
	background: @overlay;
}

.modules-left,.modules-center,.modules-right {
	background: @overlay;
	border-radius: 50px;
	padding: 4px 10px;
}

#workspaces {
	margin: 9px 0 9px 0;
}

#workspaces * {
	font-size: 0px;
}

#workspaces button {
	border-radius: 500px;
	padding: 3px;
	margin: 0 2px;
	background: @highlightHigh;
}

#workspaces button.active{
	background: #ebbcba;
	padding: 3px 7px;
}

.modules-center {
	padding: 0 15px;
}

#clock {
	margin: 0 15px;
}

.modules-right * {
	padding-left:10px;
}

#pulseaudio {
	padding-left: 10px;
}

#battery.charging, #battery.plugged {
	color: @rose;
}

#battery.warning:not(.charging) {
	color: @gold;
}

#battery.critical:not(.charging),
#pulseaudio.muted,
#network.disconnected {
	color: @love;
}
